/* Footer.module.css */

.footer {
    background-color: #001529;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.p {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

/* Стили для ссылок */
.link {
    display: inline-block;
    color: #78beff;
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    text-decoration: underline;
}

/* Адаптация для мобильных устройств */
@media (max-width: 577px) {
    .footer {
        padding: 10px;
    }
    
    .p {
        font-size: 16px;
    }
    
    .link {
        display: block;
        margin: 5px 0;
        font-size: 14px; /* Увеличенный размер для удобства чтения на мобильных устройствах */
    }
}